@using Microsoft.AspNetCore.Identity;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Web App 2023</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-page="/Index">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-page="/Privacy">Privacy</a></li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="ProgressDropDown">
                            Progress
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ProgressDropDown">
                            <li class="nav-item">
                                <a class="dropdown-item" asp-controller="Progress" asp-action="Index">View</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" asp-controller="Progress" asp-action="Create">Create</a>
                            </li>
                        </ul>
                    </li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" >Sample Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" >Contact</a></li>
            </ul>
        </div>
    </div>
</nav>