@*<footer class="footer">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="copyright text-muted">Copyright &copy; Web App @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
</footer>*@
<style>
    #footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 40px;
        background: white;
    }
</style>

<footer>
    <div id="footer">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Web App @DateTime.Now.Year</div>
        </div>
    </div>
</footer>